extends ../components/layout/layout
include ../components/logo/index
include ../components/input/index
include ../components/checkbox/index
include ../components/radio/index
include ../components/like/index
include ../components/switch/index
include ../components/range/index
include ../components/link/index
include ../components/rate/index
include ../components/range/index
include ../components/dropdown/index
include ../components/pagination/index
include ../components/button/index
include ../components/input-date/index
include ../components/masked-input/index

block content
        .ui-kit-block
                +logo()
                .ui-kit-block__content
                        .ui-kit-block__components
                                +input({
                                    label: 'Text Field',
                                    placeholder: 'Email'
                                })
                                +input({
                                    label: 'Text Field',
                                    placeholder: 'Email'
                                })
                                +input({
                                    label: 'Text Field',
                                    placeholder: 'Email',
                                    icon: true
                                })
                                //+masked-input({
                                //    label: 'Masked input'
                                //})
                                //+input-date({
                                //    label: 'Text Field',
                                //    range: 'true'
                                //})
                                +radio({
                                    label: 'asd',
                                    name: 'puk'
                                })
                                +radio({
                                    label: 'dsa',
                                    name: 'puk'
                                })
                                +switch({
                                    label: 'asdasd'
                                })
                                +like({
                                    value: 15
                                })
                                +rate({
                                    stars: 4
                                })
                                +rate({
                                    stars: 7
                                })
                                +range({
                                    label: 'Range slider'
                                })
                        .ui-kit-block__components
                                +checkbox({
                                    label: 'Можно курить'
                                })
                                +checkbox({
                                    label: 'Можно с питомцами',
                                    checked: true
                                })
                                +checkbox({
                                    label: 'Можно с пригласить гостей(до 10 человек)',
                                    checked: true
                                })
                                +button({
                                    text: 'Click me'
                                })
                                +button({
                                    text: 'Click me',
                                    disabled: true
                                })
                                +button({
                                    text: 'Click me',
                                    type: 'empty'
                                })
                                +button({
                                    text: 'Click me',
                                    type: 'empty',
                                    disabled: true
                                })
                                +link({
                                    text: 'Перейти к оплате',
                                    to: '#'
                                })
                                +dropdown({
                                    elements: ['Спальни', 'Кровати', 'Ванные комнаты']
                                })
                                +pagination()
