include ../../components/heart/index
mixin like(data)
        .like-block
                label.like-block__label #{data.label}
                        input(type='checkbox' checked=data.checked || false class='like-block__like')
                        span.like-block__heart
                                +heart({
                                    className: 'like-block__heart-svg'
                                })
                        span.like-block__checkmark
                                span.like-block__value #{data.value}
