@import "../../../style/style.less";

.like-block {
    position: relative;
    cursor: pointer;
    &__label {
        font-family: Montserrat-Regular;
        font-size: @fMiddleSize;
        color: @cDarkShade50;
        line-height: 20px;
    }
    &__like {
        position: absolute;
        opacity: 0;
        left: 0;
        top: 0;
        height: 0;
        width: 0;
        cursor: pointer;
        &:checked ~ .like-block__checkmark {
            border: 1px solid @cPurple;
            color: @cPurple;
            }
        &:checked ~ .like-block__heart .like-block__heart-svg  {
            fill: @cPurple;
        }
    }
    &__heart {
        position: absolute;
        width: 15px;
        height: 20px;
        left: 8px;
        display: flex;
        align-items: center;
    }
    &__checkmark {
        width: 40px;
        height: 20px;
        border-radius: 10px;
        display: inline-block;
        border: 1px solid @cDarkShade25;
        cursor: pointer;
    }
    &__value {
        position: absolute;
        top: 0;
        left: 20px;
    }
}