@font-face {
    font-family: "Quicksand";
    src: url("./quicksand/OpenSans-Bold.eot"); /* IE9 Compat Modes */
    src: url("./quicksand/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./quicksand/OpenSans-Bold.otf") format("opentype"), /* Open Type Font */
    url("./quicksand/OpenSans-Bold.svg") format("svg"), /* Legacy iOS */
    url("./quicksand/OpenSans-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./quicksand/OpenSans-Bold.woff") format("woff"), /* Modern Browsers */
    url("./quicksand/OpenSans-Bold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('monserrat/regular/Montserrat-Regular.eot');
    src: local('☺'), url('monserrat/regular/Montserrat-Regular.woff') format('woff'), url('monserrat/regular/Montserrat-Regular.ttf') format('truetype'), url('monserrat/regular/Montserrat-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('monserrat/bold/Montserrat-Bold.eot');
    src: local('☺'), url('monserrat/bold/Montserrat-Bold.woff') format('woff'), url('monserrat/bold/Montserrat-Bold.ttf') format('truetype'), url('monserrat/bold/Montserrat-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
