mixin input(data)
        .input-block
                label(class='input-block__label' for='input-block__input') #{data.label}
                input(type='text' id='input-block__input' class=`input-block__input ${data.icon ? 'input-block__input_icon' : ''}` placeholder=data.placeholder value=data.value || '')

