mixin input(data)
        .input-block
                label(class='input-block__label') #{data.label}
                        div(class='input-block__wrapper')
                                input(type='text' class='input-block__input' placeholder=data.placeholder value=data.value || '')
                                if data.icon
                                        span(class='input-block__icon')
                                                include ../../../svg/arrow-right.svg

