@import "../../../style/style.less";

.input-block {
    &__label {
        font-family: Montserrat-Bold;
        font-size: @fSmallSize;
        text-transform: uppercase;
        display: block;
    }
    &__input {
        padding: 12px;
        font-family: Montserrat-Regular;
        font-size: @fMiddleSize;
        border-radius: 4px;
        color: @cDarkShade75;
        border: 1px solid @cDarkShade25;
        outline: none;
        width: 100%;
        &_icon {
            background: url('../../../svg/arrow-right.svg') calc(100% - 12px) no-repeat;
            padding-right: 32px;
            fill: @cPurple;
        }
        &:hover, &:focus {
            border-color: @cDarkShade50;
        }
    }
}