@import './fonts/style';
// pages
@import '../pages/ui-kit/style';

// components
@import '../pages/components/input/style';
@import '../pages/components/checkbox/style';
@import '../pages/components/input-date/style';
@import '../pages/components/masked-input/style';


body {
    box-sizing: border-box;
}

@fSmallSize: 12px;
@fMiddleSize: 14px;
@cGreen: #6FCF97;
@cPurple: #BC9CFF;
@cWhite: #FFF;
@cBlack: #000;
@cDarkShade5: rgba(31,32,65, .05);
@cDarkShade25: rgba(31,32,65, .25);
@cDarkShade50: rgba(31,32,65, .50);
@cDarkShade75: rgba(31,32,65, .75);
@cDarkShade100: rgba(31,32,65);
