mixin radio(data)
        .radio-block
                label.rradio-block__label #{data.label}
                        input(type='radio' checked=data.checked || false name=data.name || '' class='radio-block__radio')
                        span.radio-block__checkmark
